version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo_data:/data/db
    networks:
      - mean-net

  backend:
    image: hemanth173/mean-backend:latest
    container_name: backend
    restart: always
    environment:
      MONGO_URI: "mongodb://mongo:27017/meanapp"
      PORT: 3000
    depends_on:
      - mongo
    networks:
      - mean-net

  frontend:
    image: hemanth173/mean-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - mean-net
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro

networks:
  mean-net:

volumes:
  mongo_data:

